/* Denna fil skall innehålla din CSS kod */
#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    grid-column-gap: 3px;
    grid-template-areas:
    'hd hd hd hd'
    'na na na na'
    'mn mn mn mn'
    'ft ft ft ft'
}


body {
    margin: 0px;
}

header {
    grid-area: hd;
    background-image: linear-gradient(lightblue, white);
    text-align: center;
    
}

nav {
    grid-area:na;
    margin: 0px;
    height: 60px;
    background-color: rgb(39, 39, 39);
}

input {
    position: absolute;
    position: relative;
    right: -665px;
    border: 0px;
    height: 25px;
    width: 135px;
    

    
    
}

button {
    margin: 10px;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 15px;
    background-color: white;
}


article {
    display: inline-block;
}

main {
    grid-area: mn;
    background-color: white;
    text-align-last: center;
    
}

.noline {
    text-decoration: none;

}




.brodtext {

    text-align-last: left;
    padding: 25px 300px 0px 300px;



}

#rovdjur {
height: 188px;
width: 455px;
margin-left: auto;
margin-right: auto;
}



#bear {
height: 380px;
width: 620px;
margin-left: auto;
margin-right: auto;


}

footer {
    grid-area: ft;
    background-color: #343434;
    color: white;
    text-align-last: left;
    font-size: 14px;

}